.contentAll {
    max-width: 800px;
    margin: auto;
    display: grid;
    
    .contentHeader {
        /*position: sticky;
        top: 0;*/
        min-height: 50px;
        background-color: $secondaryColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 72px;
        padding-left: 1px;
        border-bottom: gray solid 1px;
        .headerLeft {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: $primaryColor;
            padding-left: 15px;
            div {
                user-select: none;
            }

            small {
                color: gray;
            }
        }
        .vidRight {
            
            color: gray;
            text-align: right;
            padding-right: 15px;
            
        }
    }
    .contentArea {
        color: white;
        padding: 20px;
        margin-bottom: 50px;

        .contentLetra {
            pre {
                font-family: "Ubuntu", sans-serif;
            }
        }
        .contentAcordes {
            pre {
                font-family: "Ubuntu", sans-serif;
                .chord {
                    color: $primaryColor;
                }
            }
        }
    }
    .blockButtons {

            
        
        
        cursor: pointer;
        user-select: none;
        border-top: gray solid 1px;
        background-color: $secondaryColor;
        color: $primaryColor;
        width: 100%;
        min-height: 50px;
        max-height: 50px;
        position: fixed;
        bottom: 0;

        display: flex;
        justify-content: space-around;
        align-items: center;
        .material-icons {
            color: $primaryColor;
        }
    }
}

@media all and (orientation: portrait) {
}

@media all and (orientation: landscape) {
    .contentAll {
        display: grid;
        grid-template-columns: 100% 50px;
        .contentHeader {
            display: none;
        }
        .contentArea {
        }
        .blockButtons {
            position: fixed;
            height: calc(100vh);
            width: 50px;
            right: 0;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            min-height: none;
            max-height: none;
            border-top: none;
            border-left: solid 1px gray;
        }
    }
}
