body{
    height: 100vh;

    padding: 0;
    margin: 0;
    max-width: 800px;
    margin: auto;
}
.contentAll {

    width: 100%;
    max-width: 800px;
    margin: auto;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*position: relative;
    height: 100vh;*/
    .zoomButtons{
        color: gray;
        position: absolute;
        top: 60px;
        right: 10px;
    }
     
    .contentHeader {
        /*position: sticky;
        top: 0;*/
        height: 50px;
        background-color: $secondaryColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding-left: 1px;
        border-bottom: gray solid 1px;
        
        .headerLeft {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: $primaryColor;
            .material-icons{
                padding: 5px;
            }
            
            div {
                user-select: none;
            }

            
        }
        .vidRight {
            
            color: gray;
            text-align: right;
            padding-right: 15px;
        }
    }
    .contentArea {
        color: white;
        padding: 15px;
        overflow-y: auto;
        overflow-x: auto;
        flex-grow: 1;
        flex-shrink: 1;
        padding-bottom: 60px;
                
        .contentLetra {
            pre {
                font-family: "Ubuntu", sans-serif;
            }
        }
        .contentAcordes {
            pre {
                font-family: "Ubuntu", sans-serif;
                .chord {
                    color: $primaryColor;
                }
            }
        }
    }
    .quickList{
        padding: 5px;
        border: solid 0.5px $primaryColor;
        border-radius: 20px;
        background-color: black;
        width: 70%;
        margin: auto;
        position: fixed;
        bottom: 70px;
        left: 20px;
        hr{
            border: solid 0.1;
            border-color: gray;

            margin-left: 20px;
            margin-right: 20px;
        }
        .link{
            text-decoration: none;
            color: white;
            .filaSong{
                margin: 15px;
                
            }
        }
    }
    iframe{
        
        width: 100%;
        height: 70px;
        position: sticky;
        bottom: 50px;
        
        
    }
    .blockButtons {
        cursor: pointer;
        user-select: none;
        border-top: gray solid 1px;
        background-color: $secondaryColor;
        color: $primaryColor;
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        max-width: 800px;
        /*position: absolute;
        position: sticky;
        bottom: 0;*/
        
       

        display: flex;
        justify-content: space-around;
        align-items: center;
        .material-icons {
            color: $primaryColor;
            
        }
    }
}

@media all and (orientation: portrait) {
}
@media all and (orientation: landscape) {
    .contentAll {
    
        .zoomButtons{
            display: none;
        }
    }

}
/*
@media all and (orientation: landscape) {
    .contentAll {
        display: grid;
        grid-template-columns: 100% 50px;
        .contentHeader {
            display: none;
        }
        
        .blockButtons {
            position: fixed;
            height: calc(100vh);
            width: 50px;
            right: 0;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            min-height: none;
            max-height: none;
            border-top: none;
            border-left: solid 1px gray;
            .youtube1{
                i{
                    
                        color: red;
                        display: none;
                    
                }
            }
        }
    }
}
*/