.homePage {
    max-width: 800px;
    margin: auto;
    display: grid;
   
    .homeHeader {
        position: sticky;
        top: 0;
        min-height: 60px;
        background-color: $secondaryColor;
        padding-left: 10px;
        border-bottom: solid $primaryColor 1px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        img {
            margin-top: 10px;
            height: 40px;
        }
        .material-icons{
            color: $primaryColor;
  margin-right: 20px;          
        }
    }
    .domHome {
        
        margin-top: 10px;
        color: white;
        padding: 10px;
        .link {
            text-decoration: none;

            .filaSong {
                color: white;
                cursor: pointer;
                padding: 10px;
                small {
                    color: gray;
                }
            }
        }
        
    }
   
    .youtubeArea {
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-bottom: 10px;
        .material-icons {
            color: red;
            margin-right: 10px;
        }
        

    }
}