.homePage {
    max-width: 800px;
    margin: auto;
    display: grid;
    .homeHeader {
        position: sticky;
        top: 0;
        min-height: 60px;
        background-color: $secondaryColor;
        padding-left: 10px;
        border-bottom: solid $primaryColor 1px;
        
        img {
            margin-top: 10px;
            height: 40px;
        }
    }
    .domHome {
        margin-top: 10px;
        color: white;
        padding: 10px;
        .link {
            text-decoration: none;

            .filaSong {
                color: white;
                cursor: pointer;
                padding: 10px;
                small {
                    color: gray;
                }
            }
        }
        
    }
    .aplications {
        padding-top: 20px;
        margin: auto;
        max-width: 700px;
        .contApp {
            padding: 8px;
            display: flex;
            align-items: center;
            padding-left: 20%;

            img {
                max-height: 70px;
                border-radius: 15px;
            }
            a {
                color: gray;
                text-decoration: none;
                margin-left: 15px;

            }
        }
    }
    .youtubeArea {
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-bottom: 60px;
        .material-icons {
            color: red;
            margin-right: 10px;
        }
        

    }
    .footerHome {
        cursor: pointer;
        background-color: black;
        height: 50px;
        color: $primaryColor;
        position: fixed;
        bottom: 0;
        border-top: $primaryColor solid 1px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 800px;
        .material-icons {
            color: $primaryColor;
        }

    }
}