@import 'variables';
@import 'lab' ;
@import 'add';
@import 'home';
@import 'content';
@import 'lib';
@import 'crud';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Ubuntu', sans-serif;
background: black;    
    
}
